<header class='masthead'>
    <p class='masthead-intro'>Hi I'm</p>
    <h1 class='masthead-heading'>Mohammad Izaan!</h1>
  </header>
  <link rel="stylesheet" href="about.css">
  <section class="introduction-section">
      <h1>Introduction</h1>
      <p>I am graduated in 2023. from the KNS intitute of technology which is affilated to Visvesvaraya Technological University (VTU).</p>
      <p>And Now gaining the Skills in Node js as backend developer</p>
      <p>I love the internet, technology, and building beautiful things.</p>
  </section>
  <section class="questions-section">
      <h1>All About the Expence tracker</h1>
      <h2>All the Featuers behind this Project are mention below</h2>
      <p>➢ In this project I have used the Login And Signup form including the Authentication middleware for the user security.</p>
      <h2>Basically There are two Dashboard </h2>
      <p>➢ one is HomePage for the normal User And Second one is Membership Page in that it will show the leaderboard in which all the user name and total will show in the leaderboard.</p>
      <h2>The Razor pay</h2>
      <p>➢ I also used the Razor pay. A user can buy the membership through on click on buypro which show  the razor pay and goto membership page from the home page. </p>
      <p>➢ The razorpay is in test mode so now the money will not debit from the user bank account </p>
      <h2>Forget and Reset PAssword</h2>
      <p>➢ if the user forgot his password he can easily recover his password by clicking on forget password link which is on login form page. </p>
      <p>➢ Through the enter email the reset password page will send to the email and from the reset page the user can reset his pass word easily.</p>
      <h2>Amazon Aws</h2>
      <p>➢ I have hosted this site on the Amazon AWS Server.</p>
  </section>
  
  <footer class="content-footer">
      <p>Say hi to me on these social networks:</p>
      <ul class="social">
          <li><a class="css-is-deranged" href="https://github.com/IzanAnsari">GitHub</a></li>
          <li><a class="css-is-deranged" href="https://www.linkedin.com/in/izan-ansari-a25b27254/">LinkedIn</a></li>
          <li><a class="css-is-deranged" href="https://drive.google.com/file/d/1mcsym3B-OIDMpuNw6pnYwiiAZZUYd9UO/view?usp=drive_link">Resume</a></li>
      </ul>
    
  </footer>