<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Error Page</title>
  <link rel="stylesheet" href="error.css">
</head>
<h1>404</h1>
<div class="cloak__wrapper">
  <div class="cloak__container">
    <div class="cloak"></div>
  </div>
</div>
<div class="info">
  <h2>Oops something went Wrong! Fill the form properly</h2>
    <a href="/signup" class="btn" target="_blank" >Back to SignUp</a>
   
  </div>
</body>
</html>

