<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Expense Tracker</title>
  <link rel="stylesheet" type="text/css" href="frontpage.css">
  <style>
   </style>
</head>
<body>
  <div class="container">
    <h1>Welcome to Expense Tracker</h1>
    <a href="/signup" class="btn">Register</a>
    <a href="/login" class="btn">Login</a>
    <footer class="footer">
     All rights reserved &copy; 2023 Expense Tracker. Developed by Mohammad Izaan.
    </footer>
  </div>
</body>
</html>






  